{% load crispy_forms_tags %}

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      {% for message in messages %}
      <!-- hr -->
      {% if message %}
      <div class="alert alert-{{message.tags}}">{{message}}</div>
      <div class="border p-3 bg-white">
        <h3>Login Page</h3>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <!-- hr -->
          {{ form|crispy }}
          <h4>Hello, World!</h4>
          <input class="btn btn-success" type="submit" value="Login" />
        </form>
      </div>
    </div>
    {%endif%}
    <!-- hr -->
    {%endfor%}
  </div>
</div>
